h3{
    color:red;
}
body{
    background-color:burlywood;
    
}
button{
    background-color: antiquewhite;
    color: rgb(0,0,255)
}
p{
    color: #ff0
}
#box{
    background-color: blue
}
.heading{
    color: red
}